<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Elizabeth Johnson | Resume</title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway:400,700|Josefin+Slab:400,700"
      rel="stylesheet"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- NAVBAR -->
    <header id="about">
      <nav>
        <a href="#about" id="aboutlink">About</a>
        <a href="#work" id="worklink">Work Experience</a>
        <a href="#education" id="educationlink">Education</a>
        <a href="#contact" id="contactlink">Contact</a>
        <a href="{{site.baseurl}}/blog" id="bloglink">Blog</a>
        <div id="dropdown">
          <a href="#downloadresume">Download Resume</a>
          <div id="dropdown-content">
            <a href="Resume.pdf" download id="ouijileft"
              ><img src="yes2.png"
            /></a>
            <a href="#" id="ouijiright"><img src="no2.png" /></a>
          </div>
        </div>
      </nav>

      <!-- ABOUT -->
      <div class="content-wrap flex-container">
        <div class="leftflex-header">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img
                  src="lizheadshot.jpg"
                  alt="Liz Johnson"
                  class="profilepic"
                />
              </div>
              <div class="flip-card-back">
                <img
                  src="avatar.jpg"
                  alt="Liz Johnson Kawaii"
                  class="profilepic"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="profile-info rightflex-header">
          <h1>Elizabeth Johnson</h1>
          <h2 class="alignleft">Very kawaii</h2>
          <p>
            Marzipan marzipan toffee cotton candy wafer bonbon marshmallow.
            Chocolate cake sweet oat cake gingerbread chocolate bar candy canes
            cotton candy. Biscuit fruitcake soufflé danish pudding. Candy muffin
            wafer sweet toffee jujubes. Pastry pie chocolate bar oat cake chupa
            chups pudding donut macaroon.
          </p>
        </div>
      </div>
    </header>

    <main>
      <!-- // Work Experience -->
      <section class="work" id="work">
        <div class="content-wrap">
          <h2>Work Experience</h2>
          <div class="grow work1">
            <h3>Transaction Manager, Listing Manager</h3>
            <div class="flex-container">
              <div class="leftflex">
                <p class="bold">
                  The Leverage Team of Keller Williams Legacy Partners
                </p>
                <p>Glastonbury, CT</p>
                <p>Jan. 2019 – Current</p>
                <p>
                  Responsible for overseeing all of the transactions and
                  listings for a real estate team within Keller Williams Realty.
                </p>
              </div>
              <div class="rightflex">
                <p class="bold">Responsibilities:</p>
                <ul>
                  <li>
                    Responsible for overseeing all of the transactions for a
                    real estate team within Keller Williams which included
                    managing timelines, reviewing files for
                    compliance/completion, editing/filling/sending documents for
                    signature, conducting the transactions portion of the
                    meeting, triage between all parties involved, etc.
                  </li>
                  <li>
                    Highly skilled at using various real estate tools such as CT
                    MLS, Dotloop, Command, Zillow, Brivity, ShowingTime and
                    more.
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="grow work2">
            <h3>Forensic Case Manager</h3>
            <div class="flex-container">
              <div class="leftflex">
                <p class="bold">Community Renewal Team (CRT)</p>
                <p>Hartford, CT</p>
                <p>Nov. 2017 – May. 2018</p>
                <p>
                  Forensic Case Manager to homeless, recently incarcerated adult
                  men in the Hartford, CT area struggling with re-integration.
                </p>
              </div>
              <div class="rightflex">
                <p class="bold">Responsibilities:</p>
                <ul>
                  <li>
                    Forensic Case Manager to a caseload of 12 adult men recently
                    released from incarceration being supervised by the CT
                    Department of Corrections (DOC).
                  </li>
                  <li>
                    Responsible for creating progress notes, action plans,
                    organizing groups and events and more.
                  </li>
                  <li>
                    Helped clients learn important life skills such as banking
                    and budgeting, scheduling and keeping a calendar, positive
                    employee habits, housekeeping and much more.
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="grow work3">
            <h3>Intake Coordinator and Case Manager</h3>
            <div class="flex-container">
              <div class="leftflex">
                <p class="bold">The Open Hearth Association</p>
                <p>Hartford, CT</p>
                <p>Feb. 2015 – Mar. 2017</p>
                <p>
                  Intake Coordinator and Case Manager to homeless adult men in
                  the Hartford, CT area struggling with substance abuse.
                </p>
              </div>
              <div class="rightflex">
                <p class="bold">Responsibilities:</p>
                <ul>
                  <li>
                    Coordinated intakes for the CT Department of Corrections
                    (DOC), Transitional Living Program (TLP) and Shelter
                  </li>
                  <li>
                    Case Manager of 10-15 adult men with substance abuse
                    problems (DOC as well as TLP) which involved progress notes,
                    action plans, medication logs, group therapy and more
                  </li>
                  <li>
                    Responsible for data collection and synthesis, and compiling
                    Outcome Measures Reports for DOC as well as TLP for the
                    state
                  </li>
                  <li>
                    Assistant to the Financial Case Manager (handling resident
                    funds and banking)
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- // Education -->
      <section class="education" id="education">
        <div class="content-wrap">
          <h2>Education</h2>
          <div class="flex-container">
            <div class="leftflex">
              <h3 class="alignleft">Hamline University, 2012</h3>
              <p class="bold">Bachelor of Arts</p>
              <p>Major in Social Justice and Minor in Global Studies</p>
              <p>
                Honors: Magna Cum Laude (3.9 GPA), Phi Beta Kappa, Dean’s List
              </p>
            </div>
            <div class="rightflex">
              <h3 class="alignleft">Hamline University, 2013</h3>
              <p class="bold">TEFL Certificate</p>
              <p>
                Graduate-level certification course for Teaching English as a
                Foreign Language
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- // Footer & contact info -->
    <footer id="contact">
      <div class="content-wrap">
        <h2>Contact Me</h2>

        <!-- Social media and contact links. Add or remove any networks. -->
        <div class="socialmediaicons">
          <a href="mailto:liz.jade.johnson@gmail.com"
            ><i class="fa fa-envelope" aria-hidden="true"></i
          ></a>
          <a href="https://github.com/octophetus" target="_blank"
            ><i class="fa fa-github-alt" aria-hidden="true"></i
          ></a>
          <a href="https://www.linkedin.com/in/lizjadejohnson/" target="_blank"
            ><i class="fa fa-linkedin-square" aria-hidden="true"></i
          ></a>
        </div>
        <p>
          <i class="fa fa-copyright" aria-hidden="true"></i> Copyright 2020 by
          Elizabeth Johnson
        </p>
      </div>
    </footer>
  </body>
</html>
